@import "../../shared/_mediaQuery.scss";
@import "../../shared/_color.scss";

.note {
  display: inline-block;
  width: calc(100vw - 300px);
  height: 100%;
  padding: 30px;
  overflow-y: auto;
  @include tablet {
    width: 100%;
    padding: 20px;
    border: none;
  }
  @include mobile {
    width: 100%;
    padding: 20px;
    border: none;
  }
  .note__date {
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
    color: $oc-gray-6;
  }
}
