@import "../../shared/_mediaQuery.scss";
@import "../../shared/_color.scss";

.note {
  display: inline-block;
  width: calc(100vw - 300px);
  max-width: 980px;
  height: 100%;
  padding: 30px;
  border-right: 1px solid $oc-gray-4;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  @include mobile {
    width: auto;
    padding: 20px;
    border: none;
  }
  .note__title {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 25px;
    @include mobile {
      margin-top: 10px;
    }
  }
  .note__date {
    display: block;
    margin-bottom: 30px;
    font-size: 15px;
    color: $oc-gray-6;
  }
  .note__content {
    display: block;
    line-height: 1.25em;
  }
}
