@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding");
@import "./_mediaQuery.scss";
@import "./_color.scss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Nanum Gothic", sans-serif;
  @include tablet {
    overflow: auto;
  }
  @include mobile {
    overflow: auto;
  }
}

.main {
  height: calc(100% - 50px);
  .main__container {
    width: 100%;
    height: 100%;
    display: inline-flex;
  }
}

::selection {
  color: white;
  background-color: $oc-gray-7;
  text-shadow: none;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 50px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.input {
  display: block;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $oc-gray-5;
  padding: 8px 0;
  transition: border-bottom 0.2s linear;
  &:focus {
    outline: none;
    border-bottom: 1px solid $oc-gray-8;
  }
}

.button {
  display: block;
  width: 100%;
  height: 35px;
  font-size: 16px;
  border: none;
  background-color: $oc-gray-6;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background-color 0.2s linear;
  border-radius: 30px;
  &:hover {
    background-color: $oc-gray-8;
  }
}
