@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding");
@import "./_mediaQuery.scss";
@import "./_color.scss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Nanum Gothic", sans-serif;
  @include tablet {
    overflow: auto;
  }
  @include mobile {
    overflow: auto;
  }
}

.main {
  height: calc(100% - 50px);
  .main__container {
    width: 100%;
    height: 100%;
    display: inline-flex;
  }
}
