@import "../../shared/_mediaQuery.scss";
@import "../../shared/_color.scss";

.editor-pane {
  position: relative;
  height: 100%;
  .editor-pane__title {
    width: 100%;
    height: 60px;
    background-color: black;
    border: none;
    color: white;
    font-size: 20px;
    padding: 0 30px;
    &:focus {
      outline: none;
    }
  }
  .editor-pane__code {
    height: calc(100% - 60px);
    .CodeMirror {
      height: 100%;
      padding: 10px;
      line-height: 1.5em;
      font-family: "Nanum Gothic Coding", monospace !important;
    }
  }
  .editor-pane__button {
    position: absolute;
    z-index: 10;
    width: 80px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}
