@import "../../shared/_mediaQuery.scss";
@import "../../shared/_color.scss";

.nav {
  height: 50px;
  background-color: $oc-indigo-6;
  color: white;
  .nav__container {
    height: 100%;
    padding: 0 20px;
    .nav__items {
      margin: 0;
      padding: 0;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        list-style: none;
      }
      .nav__logo {
        a {
          font-size: 18px;
          color: inherit;
          text-decoration: none;
        }
      }
      .nav__toggle {
        display: none;
        cursor: pointer;
        @include tablet {
          display: inherit;
        }
        @include mobile {
          display: inherit;
        }
        svg {
          fill: white;
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
