@import "../../shared/_mediaQuery.scss";
@import "../../shared/_color.scss";

.nav {
  height: 50px;
  background-color: $oc-indigo-6;
  color: white;
  .nav__container {
    height: 100%;
    padding: 0 20px;
    @include mobile {
      max-width: 900px;
      margin: 0 auto;
    }
    .nav__items {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nav__logo {
        font-size: 18px;
        cursor: pointer;
      }
      .nav__toggle {
        display: none;
        @include mobile {
          display: inherit;
        }
        svg {
          fill: white;
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
